{% extends 'base.html.twig' %}
{% block stylesheets %}
     <link href="PartenairesPage/partenairesStyle.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<div>
</div>
{% endblock %}