body {
    background-color: brown;
}
.one {
    background-color: pink;
    height: 25vh;
}
.two {
    background-color: whitesmoke;
    height: 100%
}
.three {
    background-color: yellow;
    height: 25%;
}
.four {
    background-color: orange;
    height: 30%;
}
.five {
    background-color: green;
}
.six {
}
.seven {
    background-color: red;

}