body {
    background-color: brown;
}
.bloc {
    background-color: green;
    height: 25vh;
}
.first {
    background-color: pink;
    height: 50%;
}
.id {
    background-color: blue;
    height: 100%
}
.second {
    background-color: yellow;
    height: 50%;
}
.actif {
    background-color: orange;
}