{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="IndexPage\indexStyle.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant qu'{{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}
    <div class="container-fluid"> 
        <div class="row">           
            <button class="btn btn-primary" type="button" onclick="window.location.href='/partenaires'">Partenaires</button>           
            <button class="btn btn-primary" type="button" onclick="window.location.href='/sallesDesPartenaires'">Salles des partenaires</button>
            <button class="btn btn-primary" type="button" onclick="window.location.href='/form'">Formulaire</button>
        </div> 
        {{ dump(message) }}
                  
    </div>
{% endblock %}