{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="IndexPage\indexStyle.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div class="container-fluid"> 
        <div class="row">
            <button class="btn btn-primary" type="button" onclick="window.location.href='/partenaires'">Partenaires</button>
            <button class="btn btn-primary" type="button" onclick="windows.location.href='/#'">Salles des partenaires</button>
            <button class="btn btn-primary" type="button" onclick="windows.location.href='/#'">Formulaire</button>
        </div>           
    </div>
{% endblock %}